.img-desigen{
    height: 150px;
    width: 100%;  
    border-radius: 10px 10px 0 0;
}

.card{
    border-radius: 10px;
    background-color: rgb(240, 246, 248);
}

.btn1{
    border-radius:  0 0 10px 10px;
}